name: Prepare Release

on:
  push:
    branches:
      - "main"

permissions:
  contents: write

jobs:
  draft-release:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Generate release notes
        uses: janheinrichmerker/action-github-changelog-generator@v2.3
      
      - uses: softprops/action-gh-release@v2.5.0
        with:
          # tag_name: ${{ steps.tag.outputs.tag }}
          draft: true
          name: "Next Release"